/* primer ejercicio */

.cuadros1 {
  background-color: rgb(139, 207, 207);
  position: relative;
  width: 80%;
  height: 50em;
}

.cuadro-amarillo1 {
  background-color: yellow;
  width: 300px;
  height: 300px;
  border: solid 5px black;
  position: relative;
  left: 100px;
}
.cuadro-rojo1 {
  background-color: red;
  width: 300px;
  height: 300px;
  border: solid 5px black;
  transition-duration: 2s;
  position: relative;
  left: 450px;
  bottom: 309px;
}
.cuadro-azul1 {
  background-color: blue;
  width: 300px;
  height: 300px;
  border: solid 5px black;
  transition-duration: 2s;
  position: relative;
  left: 800px;
  bottom: 618px;
}

.cuadros1:hover .cuadro-rojo1 {
  left: 200px;
  bottom: 200px;
}

.cuadros1:hover .cuadro-azul1 {
  left: 300px;
  bottom: 400px;
}

.divisor {
  background-color: black;
  padding: 0.2%;
  width: 100%;
}

/* segundo ejercicio */

.cuadros {
  background-color: rgb(136, 227, 227);
  position: relative;
  width: 80%;
  height: 50em;
  margin-top: 1%;
}

.cuadro-amarillo {
  background-color: yellow;
  width: 300px;
  height: 300px;
  border: solid 5px black;
  position: relative;
  left: 100px;
}
.cuadro-rojo {
  background-color: red;
  width: 300px;
  height: 300px;
  border: solid 5px black;
  transition-duration: 2s;
  position: relative;
  left: 450px;
  bottom: 309px;
}
.cuadro-azul {
  background-color: blue;
  width: 300px;
  height: 300px;
  border: solid 5px black;
  transition-duration: 2s;
  position: relative;
  left: 800px;
  bottom: 618px;
}

p {
  margin: 10%;
}

.cuadros:hover .cuadro-rojo {
  text-align: center;
  position: absolute;
  left: 200px;
  top: 200px;
  border-radius: 50%;
}
.cuadros:hover .cuadro-azul {
  position: absolute;
  left: 400px;
  top: 400px;
  transform: rotatey(380deg);
}
